# Licitações realizadas pela Universidade Federal do Paraná (2014~2020)
# Relatório de Análise de Dados I

## Importando Dados

In [185]:
import pandas as pd

In [186]:
dados = pd.read_csv('dadosTratados.csv', sep = ';')

## Processos por modalidade

In [187]:
frequencia = dados['Modalidade de Licitação'].value_counts()
percentual = dados['Modalidade de Licitação'].value_counts(normalize = True) * 100

In [188]:
tabModalidade = pd.DataFrame(
                             {'Frequência': frequencia, 'Porcentagem (%)': percentual}
                             ).rename_axis('Modalidade', axis = 'columns')
tabModalidade

Modalidade                          Frequência  Porcentagem (%)
Pregão Eletrônico                         1200        88.235294
Regime Diferenciado de Contratação          61         4.485294
Tomada de Preços                            53         3.897059
Concorrência Pública                        39         2.867647
Chamada Pública                              4         0.294118
Credenciamento                               3         0.220588

## Processos por situação

In [189]:
tabSituacao = pd.DataFrame(
                           dados['Situação'].value_counts()
                           ).rename(columns = {'Situação': 'Processos'}).rename_axis('Situação', axis = 'columns')
tabSituacao

Situação                     Processos
Homologado                        1044
Fase Interna                        84
Fracassado                          51
Deserto                             41
Verificação de conformidade         33
Cancelado                           31
Suspenso                            21
Revogado                            13
Em Andamento                        13
Anulado                              8
Aguarda Abertura                     7
Elaboração do Edital                 5
Aceitação                            4
IRP                                  3
Parecer Jurídico                     2

## Diferença Valor Homologado Contrado/Estimado e Licitação Homologada Vantajosa

In [190]:
selecao = (dados['Situação'] == 'Homologado') & (dados['Valor Contratado UFPR'] == 0)
x =  dados[selecao]
x.head()

,Ano,Modalidade de Licitação,Número/Ano,Processo,Situação,Objeto,Natureza do Objeto,Demandante,Modalidade de Compra,Homologação (mês),Valor Estimado UFPR,Valor Estimado Outros Órgãos,Valor Contratado UFPR,Valor Contratado Outros Órgãos
5,2014,Concorrência Pública,005/2014,001426/2014-16,Homologado,Concessão de uso de espaço físico para explora...,Sem Informação,PCU,Contrato,Sem Informação,0.00,0.0,0.0,0.0
230,2014,Tomada de Preços,028/2014,040159/2014-01,Homologado,Elaboração de Projetos de Engenharia para Refo...,Sem Informação,PCU,Aquisição imediata,Sem Informação,45510.93,0.0,0.0,0.0
235,2015,Chamada Pública,001/2015,075143/2015-91,Homologado,Aquisição de gêneros alimentícios semiperecíveis,Sem Informação,RU,Contrato,Sem Informação,413312.33,0.0,0.0,0.0
243,2015,Pregão Eletrônico,001/2015,045480/2014-73,Homologado,Prestação de Serviços terceirizados de portari...,Serviço,CECOM,Contrato,Sem Informação,8085360.72,0.0,0.0,0.0
274,2015,Pregão Eletrônico,032/2015,064381/2015-71,Homologado,"Aquisição de carnes, derivados e massa fresca ...",Material,RU,SRP,Sem Informação,10254263.20,0.0,0.0,0.0

In [191]:
selecao = []
for t in dados.Processo:
    if t in list(x.Processo):
        selecao.append(True)
    else:
        selecao.append(False)
selecao
x = dados[selecao]
x['Situação'].value_counts()

Homologado                     66
Fase Interna                    4
Suspenso                        1
Verificação de conformidade     1
Name: Situação, dtype: int64

In [192]:
selecao = (dados['Situação'] == 'Homologado') & (dados['Valor Contratado UFPR'] > 0)
homologados = dados[selecao]

In [193]:
lic = dados['Modalidade de Licitação'].value_counts()
licHom = homologados['Modalidade de Licitação'].value_counts()
percent = round((licHom / lic) * 100, 1)
tabHom = pd.DataFrame({'Processos Totais': lic, 'Homologados': licHom, '(%)': percent}
                      ).fillna(0
                             ).astype({'Homologados': 'int64'}
                                     ).rename_axis('Modalidade', axis = 'columns')
tabHom.sort_values(by = ['(%)'], ascending = False, inplace = True)
tabHom

Modalidade                          Processos Totais  Homologados   (%)
Pregão Eletrônico                               1200          900  75.0
Regime Diferenciado de Contratação                61           37  60.7
Tomada de Preços                                  53           25  47.2
Concorrência Pública                              39           15  38.5
Credenciamento                                     3            1  33.3
Chamada Pública                                    4            0   0.0

In [194]:
vantagem = (homologados['Valor Contratado UFPR'] - homologados['Valor Estimado UFPR'] < 0).value_counts()
tabVantagem = pd.DataFrame({'Homologações': vantagem}
                          ).rename(index = {True: 'Sim', False: 'Não'}
                                  ).rename_axis('Vantagem', axis = 'columns')
tabVantagem

Vantagem  Homologações
Sim                943
Não                 35

In [195]:
hom2 = homologados.copy()
hom2['Vantagem'] = (homologados['Valor Contratado UFPR'] - homologados['Valor Estimado UFPR'] < 0)

tabVantagem_porMod = (pd.crosstab(homologados['Modalidade de Licitação'], hom2['Vantagem'])
                     ).rename(columns = {True: 'Sim', False: 'Não'})

tabVantagem_porMod

Vantagem                            Não  Sim
Modalidade de Licitação
Concorrência Pública                 14    1
Credenciamento                        1    0
Pregão Eletrônico                    20  880
Regime Diferenciado de Contratação    0   37
Tomada de Preços                      0   25

## Valor Médio por Modalidade de Licitação

In [196]:
valorMedio_mod = pd.DataFrame(homologados.groupby(['Modalidade de Licitação'])['Valor Contratado UFPR'].mean().round(2)
                             ).rename(columns = {'Valor Contratado UFPR': 'Valor médio homologado'})
valorMedio_mod

                                    Valor médio homologado
Modalidade de Licitação
Concorrência Pública                              82866.37
Credenciamento                                    14844.00
Pregão Eletrônico                                644310.52
Regime Diferenciado de Contratação              1069432.70
Tomada de Preços                                 187059.57