# Licitações realizadas pela Universidade Federal do Paraná (2014~2020)
# Relatório de Análise de Dados I

## Importando Dados

In [30]:
import pandas as pd

In [38]:
dados = pd.read_csv('dadosTratados.csv', sep = ';')

## Número de processos por modalidade

In [39]:
pd.DataFrame(dados['Modalidade de Licitação'].value_counts())

                                    Modalidade de Licitação
Pregão Eletrônico                                      1200
Regime Diferenciado de Contratação                       61
Tomada de Preços                                         53
Concorrência Pública                                     39
Chamada Pública                                           4
Credenciamento                                            3

## Números de processos por situação

In [40]:
pd.DataFrame(dados['Situação'].value_counts())

                             Situação
Homologado                       1044
Fase Interna                       84
Fracassado                         51
Deserto                            41
Verificação de conformidade        33
Cancelado                          31
Suspenso                           21
Em Andamento                       13
Revogado                           13
Anulado                             8
Aguarda Abertura                    7
Elaboração do Edital                5
Aceitação                           4
IRP                                 3
Parecer Jurídico                    2

## Diferença Valor Homologado Contrado/Estimado e Licitação Homologada Vantajosa

In [42]:
dados['Diferença Contratado/Estimado'] = dados['Valor Contratado UFPR'] - dados['Valor Estimado UFPR']
dados['Vantagem'] = dados['Diferença Contratado/Estimado'] <= 0

In [43]:

tabelaDiferenca = dados[dados['Situação'] == 'Homologado'][['Modalidade de Licitação','Situação','Valor Estimado UFPR', 
                                                            'Valor Contratado UFPR','Diferença Contratado/Estimado', 
                                                            'Vantagem']]
tabelaDiferenca.index = range(tabelaDiferenca.shape[0])
tabelaDiferenca.head(5)

,Modalidade de Licitação,Situação,Valor Estimado UFPR,Valor Contratado UFPR,Diferença Contratado/Estimado,Vantagem
0,Concorrência Pública,Homologado,0.00,0.00,0.00,True
1,Concorrência Pública,Homologado,1750.00,2603.25,853.25,False
2,Concorrência Pública,Homologado,1290.68,1511.91,221.23,False
3,Concorrência Pública,Homologado,1569.14,7700.00,6130.86,False
4,Pregão Eletrônico,Homologado,286235.50,280600.20,-5635.30,True

## Valor Médio por Modalidade de Licitação

In [44]:
agrupamento = tabelaDiferenca.groupby('Modalidade de Licitação')
pd.DataFrame(agrupamento['Valor Contratado UFPR'].mean().round(2)).rename(columns = {'Valor Contratado UFPR': 'Valor médio homologado'})

                                    Valor médio homologado
Modalidade de Licitação
Chamada Pública                                       0.00
Concorrência Pública                              73117.39
Credenciamento                                    14844.00
Pregão Eletrônico                                607840.12
Regime Diferenciado de Contratação               879311.33
Tomada de Preços                                 179864.97